.card{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 700px;
    border: 2px solid white;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
}
.image img{
    border-radius: 5px;}
.image{
    position: relative;
}

.card .image .capsule{
    position:absolute;
    bottom: 4px;
    right: 0;
    font-size: 10px;
    background-color: black;
}
.card .text h1{
    font-size: 20px;
}